
<mat-toolbar color="primary">Github Profile Viewer</mat-toolbar>

<div style="width: 400px; margin:auto;">
  <mat-form-field class="example-full-width" style="width:100%; margin-top:100px;">
    <input matInput placeholder="Enter name" [(ngModel)]="userName" >
  </mat-form-field>
  <button  mat-raised-button color="primary"(click)="search()">Find Me</button>
  <mat-spinner *ngIf="spinner"></mat-spinner>
  <div *ngIf="data" >
  <mat-card style="margin-top:40px" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data?.name}}</mat-card-title>
      <mat-card-subtitle>{{data?.id}}</mat-card-subtitle>
      <mat-card-subtitle>
        <a href={{data?.html_url}} target="_blank">GITHUB Profile</a>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{data?.avatar_url}}" >
    <mat-card-content>
      <p>
        {{data?.location}}<br>
        {{data?.email}}
      </p>
    </mat-card-content>
    
  </mat-card>
  </div>
  <div *ngIf="errorMsg">
      <mat-card>Data not found</mat-card>


  </div>
  </div>





